include ../../layout/mixins

.flex.justify-between.content-center.ml-10(ng-if="user")
    .px-4.py-2.my-3.mr-4.bg-red-500.text-white.rounded-full.cursor-pointer(ng-if="!user.email_verified_at" ng-click="openAuthEmailVerifyModal()")
        i.mdi.mdi-account-lock-outline.mr-4
        | Not verified!

    div(class="space-x-8 sm:-my-px sm:flex")
        .relative.inline-block.text-left.py-2
            button#NavUserDropdown(
                class="flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out py-4"
                type="button" aria-expanded="true" aria-haspopup="true" onclick="$(this).next().toggle()"
            ) {{ user.name }}
                .ml-1
                    svg.fill-current.h-4.w-4(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                        path(
                            fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        )

            div(
                class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="NavUserDropdown" tabindex="-1" style="display: none"
            )
                .py-1(role="none")
                    a.text-gray-700.block.px-4.py-2.text-sm.no-underline.cursor-pointer(
                        role="menuitem" tabindex="-1" ng-click="logout()"
                    )
                        i.mdi.mdi-power.mr-3
                        | Logout

div(class="space-x-8 sm:-my-px sm:ml-10 sm:flex" ng-if="!user")
    +navMenuModalButton('openAuthLoginModal()', 'Log in')
    +navMenuModalButton('openAuthRegisterModal()', 'Register')
