include ../../layout/mixins

.fixed.pin.inset-0.flex.items-center
    .fixed.pin.inset-0.bg-black.opacity-50.z-10.cursor-pointer(ng-click="$ctrl.close()")

    .relative(class="relative mx-6 mx-auto w-1/2 z-20 m-8")
        .shadow-2xl.bg-white.rounded-lg.p-5
            .flex.justify-between.modal-header.mb-5
                h2.font-semibold.text-xl Edit
                i.mdi.mdi-close.cursor-pointer(ng-click="$ctrl.close()")

            form#AppNoteEditForm(enctype="multipart/form-data")
                .mb-5
                    label(for="AppNoteEditTitle") Title
                        input#AppNoteEditTitle.mt-2.p-4.w-full.block.rounded-md.border.border-gray-300.focus_o-300(
                            class="focus:ring focus:ring-gray-300 focus:ring-opacity-50"
                            type="text" name="title" placeholder="Note title"
                            ng-model="$ctrl.note.title"
                        )
                .mb-5
                    label(for="AppNoteEditText") Text
                        textarea#AppNoteEditText.mt-2.p-4.w-full.block.rounded-md.border.border-gray-300.focus_o-300(
                            class="focus:ring focus:ring-gray-300 focus:ring-opacity-50"
                            rows="8" name="text" placeholder="Note text"
                            ng-model="$ctrl.note.text"
                        )

                .mb-5
                    label(for="AppNoteEditAttachmentFiles") Attachments
                        input#AppNoteEditAttachmentFiles.mt-2.p-4.w-full.block.rounded-md.border.border-gray-300.focus_o-300(
                            class="focus:ring focus:ring-gray-300 focus:ring-opacity-50"
                            type="file" name="attachment[]" accept="text/*,image/*,audio/*,video/*" multiple="true"
                            ng-model="$ctrl.note.attachment"
                        )

                .mb-5
                    label.inline-flex.items-center.select-none
                        input#AppLoginModalPrivate.p-4.block.rounded-md.border.border-gray-300.focus_o-300(
                            type="checkbox" name="private" ng-model="$ctrl.note.private" ng-checked="$ctrl.note.private"
                        )
                        span.ml-2 Private

                .flex.justify-between.mb-5.text-right.space-x-4
                    div
                        button.px-4.py-2.bg-red-400.text-white.rounded-lg.text-center.shadow-md(type="button" ng-click="$ctrl.openDeleteNoteModal($ctrl.modal.scope.noteUID)")
                            i.mdi.mdi-trash-can-outline.mr-4
                            | Delete

                    div.space-x-4
                        button.px-4.py-2.bg-gray-50.rounded-lg.text-center.shadow-md(type="button" ng-click="$ctrl.close()")
                            i.mdi.mdi-arrow-left.mr-4
                            | Cancel

                        +formSubmitButton('check', 'Save', '$ctrl.updateNote()', '')

            #AppNoteEditAttachments.note-attachmnets(ng-if="$ctrl.note.has_attachments")
                hr.my-5
                h5.font-semibold.mb-4 Attachments

                #NoteEditAttachments.flex.space-x-4.text-gray-500
                    a.fancybox.iframe.bg-gray-100.px-4.py-2.rounded-full.shadow.no-underline.text-gray-500.font-medium(
                        href="{{ $ctrl.api_url + '/storage/' + file.path }}"
                        data-fancybox="gallery" data-type="iframe"
                        ng-repeat="file in $ctrl.note.attachments"
                    )
                        i.mdi.mdi-attachment.mr-2
                        | {{ file.original }}

            #AppNoteEditSharing.note-sharing(ng-if="$ctrl.note.has_sharing")
                h5.font-semibold.mb-4 Shares

                #NoteEditUsers.flex.space-x-4.text-gray-500.text-xs
                    span.bg-gray-100.px-4.py-2.rounded-full.shadow.no-underline.font-medium(
                        ng-repeat="share in $ctrl.note.sharing"
                    )
                        i.mdi.mdi-account-outline.mr-2
                        | {{ share.user.name }}
                        i.mdi.mdi-close-circle-outline.ml-2.text-red-500.cursor-pointer(ng-click="$ctrl.unShare(share.id)")
